[profile.default]
src = "src"
out = "out"
libs = ["lib"]
fs_permissions = [{ access = "write", path = "./reports" }]
ffi = true
optimizer = true
optimizer_runs = 200
solc = '0.8.27'
evm_version = 'cancun'
bytecode_hash = 'none'
libraries = [
    'aave-v3-origin/contracts/protocol/libraries/logic/BorrowLogic.sol:BorrowLogic:0x1Fb8f7C906cddD28B42ae6Eb76abC04A91188635',
    'aave-v3-origin/contracts/protocol/libraries/logic/ConfiguratorLogic.sol:ConfiguratorLogic:0x6E2aFD57a161d12f34f416c29619BFeAcAC8AA18',
    'aave-v3-origin/contracts/protocol/libraries/logic/FlashLoanLogic.sol:FlashLoanLogic:0xE66AdcF153d0bD67a74e5d23e23F90b4011024EC',
    'aave-v3-origin/contracts/protocol/libraries/logic/LiquidationLogic.sol:LiquidationLogic:0x8dc095F287dBEBD9e15f75BB3DfBF18389BB8104',
    'aave-v3-origin/contracts/protocol/libraries/logic/PoolLogic.sol:PoolLogic:0x25Ed699a052B820d772765E26Ed4dD9f0A26F3E5',
    'aave-v3-origin/contracts/protocol/libraries/logic/SupplyLogic.sol:SupplyLogic:0x33654b16A4De97bCE05d7dD06803Bf1066f3123C'
]

[profile.metis]
evm_version = 'shanghai'

[profile.zksync]
src = 'zksync'
test = 'zksync'
libs = ['lib']
solc = '0.8.27'
optimizer = true
fs_permissions = [{ access = "write", path = "./reports" }]
ffi = true
evm_version = 'cancun'
libraries = [
    'aave-v3-origin/contracts/protocol/libraries/logic/BorrowLogic.sol:BorrowLogic:0xF3b473A5c7f9be0aFD4eddD724b0519cee9314f8',
    'aave-v3-origin/contracts/protocol/libraries/logic/ConfiguratorLogic.sol:ConfiguratorLogic:0xAB7b29A2Bda1e9A4F228aAb53d41c4D63Fc22f5E',
    'aave-v3-origin/contracts/protocol/libraries/logic/FlashLoanLogic.sol:FlashLoanLogic:0xcBc69Dc132f02869Bed58e76A3Ff575855371ECF',
    'aave-v3-origin/contracts/protocol/libraries/logic/LiquidationLogic.sol:LiquidationLogic:0x4122978eb58D0Ccd857B06FF6881222eF41364A1',
    'aave-v3-origin/contracts/protocol/libraries/logic/PoolLogic.sol:PoolLogic:0xc06404b2aa898dbe96d0d7cf65b1de3194268743',
    'aave-v3-origin/contracts/protocol/libraries/logic/SupplyLogic.sol:SupplyLogic:0x2b139d7c4fb05db52a3261256797abc567a7cf36'
]

[profile.zksync.zksync]
bytecode_hash = 'none'
compile = true
fallback_oz = true
mode = '3'
zksolc = '1.5.15'

[rpc_endpoints]
mainnet = "${RPC_MAINNET}"
polygon = "${RPC_POLYGON}"
polygon_amoy = "${RPC_POLYGON_AMOY}"
avalanche = "${RPC_AVALANCHE}"
avalanche_fuji = "${RPC_AVALANCHE_FUJI}"
arbitrum = "${RPC_ARBITRUM}"
arbitrum_sepolia = "${RPC_ARBITRUM_SEPOLIA}"
fantom = "${RPC_FANTOM}"
fantom_testnet = "${RPC_FANTOM_TESTNET}"
optimism = "${RPC_OPTIMISM}"
optimism_sepolia = "${RPC_OPTIMISM_SEPOLIA}"
harmony = "${RPC_HARMONY}"
sepolia = "${RPC_SEPOLIA}"
scroll = "${RPC_SCROLL}"
scroll_sepolia = "${RPC_SCROLL_SEPOLIA}"
metis = "${RPC_METIS}"
base = "${RPC_BASE}"
base_sepolia = "${RPC_BASE_SEPOLIA}"
bnb = "${RPC_BNB}"
gnosis = "${RPC_GNOSIS}"
zkEVM = "${RPC_ZKEVM}"
celo = "${RPC_CELO}"
zksync = "${RPC_ZKSYNC}"
linea = "${RPC_LINEA}"
sonic = "${RPC_SONIC}"
soneium = "${RPC_SONEIUM}"
ink = "${RPC_INK}"
plasma = "${RPC_PLASMA}"

[fmt]
tab_width = 2
